/*  Usando para fazer sites responsivos o flex-box e muito usado . sobre o resumo do uso do flex-box 


Justificação e Alinhamento:

As propriedades como justify-content (para o eixo principal) e align-items (para o eixo transversal) são usadas para alinhar e justificar os itens dentro do contêiner.
Copiar*/
.container {
  justify-content: space-between; /*Alinhamento dos itens no eixo principal */
  align-items: center; /* Alinhamento dos itens no eixo transversal */
}




/*Flex Items:

Os elementos filhos de um contêiner flexível são automaticamente considerados itens flexíveis.
 Eles são organizados ao longo do eixo principal 
do contêiner, que é determinado pela propriedade flex-direction.*/

.item {
    flex: 1; /* Propriedade flex para determinar a distribuição de espaço */
  }
  


  .item {
    flex: 1; /* Propriedade flex para determinar a distribuição de espaço */
  }
  



