/*Importar fonts do google */



/*Esse ponto muito importante por que devemos reiniciar algumas propriedades */
*{
    box-sizing: border-box;
}

/*
  - Margin
  - Fonts (button,input,select,textarea) se não essas propriedade saem sem as fonts 
  - Cores (Precisa declarar todas as cores com  ) - para poupar tempo e melhorar as proximas verções do projeto 



*/



/*Criado variaveis de cores */


:root{
--dark-color-50:rgba(0, 0, 0, 0.61);
--pink-color:pink;

}

.container{
    background-color: var(--pink-color);
}



/*Tirar a margin de todo o projeto */
html,body{
margin: 0%;


}

/*Aqui a e apenas um teste */
.container{
    background-color: red;
    width: 250px;
    height: 250px;
    border: 100px solid blue;
    padding: 50px;
}
