/*
Posicioanamento dos elementos por caixas 
Cada um tem seu espaço 




*/
/*Para criar um contêiner de grade, você usa a propriedade display: grid; no seletor do contêiner.*/

.container {
    display: grid;
  }
  


  /*
  Definindo Linhas e Colunas:

Use as propriedades grid-template-rows e grid-template-columns para definir o número e o tamanho das linhas e colunas na grade*/

.container {
    display: grid;
    grid-template-rows: 100px 200px; /* Duas linhas de altura 100px e 200px */
    grid-template-columns: 1fr 2fr; /* Duas colunas, a primeira com 1 parte e a segunda com 2 partes */
  }
  

  /*Posicionando Itens:

Utilize as propriedades grid-row e grid-column para posicionar itens específicos na grade*/.item {

  grid-row: 1 / 3; /* Ocupa da linha 1 à 3 verticalmente */
  grid-column: 2 / 4; /* Ocupa da coluna 2 à 4 horizontalmente */
}


.container {
    justify-items: center; /* Alinha os itens horizontalmente no centro */
    align-items: end; /* Alinha os itens verticalmente na parte inferior */
  }


  /*Espaçamento:

Propriedades como grid-row-gap e grid-column-gap definem o espaço entre as linhas e coluna*/

.container {
    grid-row-gap: 10px; /* Espaçamento entre as linhas de 10 pixels */
    grid-column-gap: 20px; /* Espaçamento entre as colunas de 20 pixels */
  }
  